html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }

  .loader-active {
    display: block;
  }
}

.header {
  padding: 1rem;
  text-align: center;

  &__logo {
    width: 150px;
  }
}


.absolute-fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opacity-20 {
  opacity: 0.2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
